/*
Cores
#1A1126 - roxo escuro
#80ADBF - azul claro
#A9D4D9 - azul bebê
#224029 - verde escuro
#2E5935 - verde claro

font-family: 'Caveat', cursive;
font-family: 'EB Gramond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/
