body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(128, 173, 191, 1) 0%, rgba(169, 212, 217, 1) 10%, rgba(46, 89, 53, 1) 50%, rgba(0, 0, 0)100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 103px;
  }
  
  .container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  form input {
    width: 100%;
    padding: 0.6rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.6rem;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }